    {% extends "base.html" %}

    {% block conteudo %}

    <div>
        <!-- Background -->
        <style>
            body{background-image: url(../static/imagens/fundo2.png);}
        </style>

        <!-- Corpo da página contato -->
        <h2>Entre em contato</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit praesentium sint iure. Aliquam itaque commodi laborum reprehenderit, delectus ab rerum nobis.</p>
        <hr>

        <!-- Parte do email, assunto e descrição -->
        <form method="post" action="/contatos">

            Seu e-mail: <br>
                <input type="email" name="email" required><br>
            
            
            Assunto: <br>
            <input type="text" name="assunto" required><br>

          
            Descrição: <br>
            <textarea type="text" row="3" style="width: 26;" name="descricao" id="desc"></textarea>
            
            <br>
            <input type="submit">
            
        </form>
    </div>

    {% endblock %}